*.o
*.i
*.s
*.txt
*.exe
*tags
*core
*.outch-02/2.1 Setting Out to C++/myfirst
ch-03 Dealing with Data/3.3 Floating-Point Numbers/3.4 C++ Arithmetic Operators/arith
ch-03 Dealing with Data/3.3 Floating-Point Numbers/floatnum
ch-03 Dealing with Data/3.3 Floating-Point Numbers/float_point
ch-03 Dealing with Data/3.3 Floating-Point Numbers/float_point_constants
ch-03 Dealing with Data/3.3 Floating-Point Numbers/fltadd
ch-02/2.1 Setting Out to C++/myfirst
ch-03 Dealing with Data/3.4 C++ Arithmetic Operators/divide
ch-03 Dealing with Data/3.4 C++ Arithmetic Operators/modulus
ch-03 Dealing with Data/3.4 C++ Arithmetic Operators/arith
ch-03 Dealing with Data/3.4 C++ Arithmetic Operators/init
ch-03 Dealing with Data/3.4 C++ Arithmetic Operators/typecast
arrayone
ch-04 Compound Types/4.1 Introducing Arrays/arrayone
ch-04 Compound Types/4.2 Strings/concatenating_string_iterals
ch-04 Compound Types/4.2 Strings/instr1
ch-04 Compound Types/4.2 Strings/instr2
ch-04 Compound Types/4.2 Strings/string
ch-04 Compound Types/4.2 Strings/what_a_string
ch-04 Compound Types/4.2 Strings/instr3
ch-04 Compound Types/4.2 Strings/numstr
ch-04 Compound Types/4.3 Introducing the string Class/strtype1
ch-04 Compound Types/4.3 Introducing the string Class/list_initialization
ch-04 Compound Types/4.3 Introducing the string Class/other_form_string
ch-04 Compound Types/4.3 Introducing the string Class/string_cmp_array
ch-04 Compound Types/4.3 Introducing the string Class/string_io_line
ch-04 Compound Types/4.3 Introducing the string Class/string_usage
ch-04 Compound Types/4.4 Introducing Structures/struct_usage
ch-04 Compound Types/4.4 Introducing Structures/assign_struct
ch-04 Compound Types/4.4 Introducing Structures/bit_field
ch-04 Compound Types/4.4 Introducing Structures/struct_array
ch-04 Compound Types/4.5 Unions/union_usage
ch-04 Compound Types/4.6 Enumerations/enum_usage
ch-04 Compound Types/4.7 Pointers and the Free Store/address_operator
ch-04 Compound Types/4.7 Pointers and the Free Store/pointer
ch-04 Compound Types/4.7 Pointers and the Free Store/pointer_danger
ch-04 Compound Types/4.7 Pointers and the Free Store/pointer_declare_init
ch-04 Compound Types/4.7 Pointers and the Free Store/new_usage
ch-04 Compound Types/4.7 Pointers and the Free Store/delete_usage
ch-04 Compound Types/4.7 Pointers and the Free Store/new_dynamic_array
ch-04 Compound Types/4.7 Pointers and the Free Store/core
ch-04 Compound Types/4.7 Pointers and the Free Store/-Wall
ch-04 Compound Types/4.8 Pointers, Arrays, and Pointer Arithmetic/addpntrs
ch-04 Compound Types/4.8 Pointers, Arrays, and Pointer Arithmetic/array_name
ch-04 Compound Types/4.8 Pointers, Arrays, and Pointer Arithmetic/new_delete
ch-04 Compound Types/4.8 Pointers, Arrays, and Pointer Arithmetic/new_dynamic_struct
ch-04 Compound Types/4.8 Pointers, Arrays, and Pointer Arithmetic/pointer_string
ch-04 Compound Types/4.03 Introducing the string Class/strtype1
ch-04 Compound Types/4.10 Array Alternatives/vector_usage
ch-04 Compound Types/4.10 Array Alternatives/array_template
ch-04 Compound Types/4.07 Pointers and the Free Store/new_dynamic_array
ch-04 Compound Types/4.07 Pointers and the Free Store/delete_usage
ch-04 Compound Types/4.07 Pointers and the Free Store/core
ch-04 Compound Types/4.07 Pointers and the Free Store/-Wall
ch-04 Compound Types/4.04 Introducing Structures/struct_usage
ch-04 Compound Types/4.09 Combinations of Types/mixtypes
ch-04 Compound Types/4.08 Pointers, Arrays, and Pointer Arithmetic/new_delete
ch-04 Compound Types/4.08 Pointers, Arrays, and Pointer Arithmetic/addpntrs
ch-04 Compound Types/4.08 Pointers, Arrays, and Pointer Arithmetic/new_dynamic_struct
ch-04 Compound Types/4.08 Pointers, Arrays, and Pointer Arithmetic/array_name
ch-04 Compound Types/4.08 Pointers, Arrays, and Pointer Arithmetic/pointer_string
ch-04 Compound Types/4.02 Strings/instr3
ch-04 Compound Types/4.02 Strings/numstr
ch-04 Compound Types/4.10 Array Alternatives/vector_cmp_array
ch-05 Loops and Relational Expressions/5.01 Introducing for Loops/forloop
ch-05 Loops and Relational Expressions/5.04 The Range-Based for Loop (C++11)/textin3
ch-05 Loops and Relational Expressions/5.04 The Range-Based for Loop (C++11)/textin2
ch-05 Loops and Relational Expressions/5.04 The Range-Based for Loop (C++11)/textin1
ch-05 Loops and Relational Expressions/5.04 The Range-Based for Loop (C++11)/range_based_for
ch-05 Loops and Relational Expressions/5.04 The Range-Based for Loop (C++11)/input_text_idiom2
ch-05 Loops and Relational Expressions/5.04 The Range-Based for Loop (C++11)/input_text_idiom4
ch-05 Loops and Relational Expressions/5.04 The Range-Based for Loop (C++11)/input_text_idiom3
ch-05 Loops and Relational Expressions/5.04 The Range-Based for Loop (C++11)/input_text_idiom1
ch-05 Loops and Relational Expressions/5.06 Nested Loops and Two-Dimensional Arrays/nested
ch-05 Loops and Relational Expressions/5.06 Nested Loops and Two-Dimensional Arrays/2d_array
ch-05 Loops and Relational Expressions/5.05 Loops and Text Input/textin3
ch-05 Loops and Relational Expressions/5.05 Loops and Text Input/input_text_idiom2
ch-05 Loops and Relational Expressions/5.05 Loops and Text Input/input_text_idiom5
ch-05 Loops and Relational Expressions/5.05 Loops and Text Input/textin2
ch-05 Loops and Relational Expressions/5.05 Loops and Text Input/textin1
ch-05 Loops and Relational Expressions/5.05 Loops and Text Input/input_text_idiom4
ch-05 Loops and Relational Expressions/5.05 Loops and Text Input/input_text_idiom3
ch-05 Loops and Relational Expressions/5.05 Loops and Text Input/input_text_idiom1
ch-06 Branching Statements and Logical Operators/6.03 The cctype Library of Character Functions/cctypes
ch-06 Branching Statements and Logical Operators/6.07 Number-Reading Loops/simple_test
ch-06 Branching Statements and Logical Operators/6.07 Number-Reading Loops/cinfish
ch-06 Branching Statements and Logical Operators/6.08 Simple File Input-Output/sumafile1
ch-06 Branching Statements and Logical Operators/6.08 Simple File Input-Output/simple
ch-06 Branching Statements and Logical Operators/6.08 Simple File Input-Output/sumafile
ch-06 Branching Statements and Logical Operators/6.08 Simple File Input-Output/outfile
ch-06 Branching Statements and Logical Operators/6.10 Chapter Review/input_buffer
ch-06 Branching Statements and Logical Operators/6.10 Chapter Review/count_newlines_spaces
ch-07 Functions
ch-08 Adventures in Functions/8.01 C++ Inline Functions/inline_vs_macros
ch-08 Adventures in Functions/8.01 C++ Inline Functions/inline
ch-08 Adventures in Functions/8.02 Reference Variables/secref
ch-08 Adventures in Functions/8.02 Reference Variables/rvalue_ref
ch-08 Adventures in Functions/8.02 Reference Variables/firstref
ch-08 Adventures in Functions/8.02 Reference Variables/strc_ref
ch-08 Adventures in Functions/8.02 Reference Variables/-Wall
ch-08 Adventures in Functions/8.02 Reference Variables/cubes
ch-08 Adventures in Functions/8.02 Reference Variables/swaps
ch-08 Adventures in Functions/8.03 Default Arguments/simple
ch-08 Adventures in Functions/8.03 Default Arguments/left
ch-08 Adventures in Functions/8.02 Reference Variables/core
ch-08 Adventures in Functions/8.02 Reference Variables/strquote
ch-08 Adventures in Functions/8.02 Reference Variables/filefunc
ch-08 Adventures in Functions/8.04 Function Overloading/leftover
ch-08 Adventures in Functions/8.04 Function Overloading/ref_overload
ch-08 Adventures in Functions/8.04 Function Overloading/simple
ch-08 Adventures in Functions/8.05 Function Templates/twotemps
ch-08 Adventures in Functions/8.05 Function Templates/simple
ch-08 Adventures in Functions/8.05 Function Templates/instantiations_and_pecializations
ch-08 Adventures in Functions/8.05 Function Templates/which
ch-08 Adventures in Functions/8.05 Function Templates/choices
ch-08 Adventures in Functions/8.05 Function Templates/tempover
ch-09 Memory Models and Namespaces/9.01 Separate Compilation/coordin/main
ch-09 Memory Models and Namespaces/9.02 Storage Duration, Scope, and Linkage/autoscp
ch-09 Memory Models and Namespaces/9.02 Storage Duration, Scope, and Linkage/simple
ch-09 Memory Models and Namespaces/9.02 Storage Duration, Scope, and Linkage/three_kind_static
ch-09 Memory Models and Namespaces/9.02 Storage Duration, Scope, and Linkage/extern/extern
ch-09 Memory Models and Namespaces/9.02 Storage Duration, Scope, and Linkage/file scope static/simple
ch-09 Memory Models and Namespaces/9.02 Storage Duration, Scope, and Linkage/static_init
ch-09 Memory Models and Namespaces/9.02 Storage Duration, Scope, and Linkage/external and internal/file
ch-09 Memory Models and Namespaces/9.02 Storage Duration, Scope, and Linkage/const modifier/const
ch-09 Memory Models and Namespaces/9.02 Storage Duration, Scope, and Linkage/static_local
ch-09 Memory Models and Namespaces/9.02 Storage Duration, Scope, and Linkage/mutable
ch-09 Memory Models and Namespaces/9.03 Namespaces/namespace_usage
ch-09 Memory Models and Namespaces/9.02 Storage Duration, Scope, and Linkage/new_init
ch-09 Memory Models and Namespaces/9.02 Storage Duration, Scope, and Linkage/language linkage/language_linkage
ch-09 Memory Models and Namespaces/9.02 Storage Duration, Scope, and Linkage/newplace
app/release_info/release_info
ch-09 Memory Models and Namespaces/9.03 Namespaces/namespace examples/usenmsp
ch-09 Memory Models and Namespaces/9.03 Namespaces/namespace_nest
ch-09 Memory Models and Namespaces/9.03 Namespaces/namespace_addr
ch-09 Memory Models and Namespaces/9.03 Namespaces/namespace_unnamed
app/release-info/release_info
ch-10 Objects and Classes/10.03 Class Constructors and Destructors/stock00/stock00
ch-10 Objects and Classes/10.02 Procedural and Object-Oriented Programming/stock00/stock00
ch-10 Objects and Classes/10.06 Class Scope/class_scope_constants
ch-10 Objects and Classes/10.06 Class Scope/scoped_enumerations
ch-10 Objects and Classes/10.04 Knowing Your Objects-----The this Pointer/stock00/stock00
ch-10 Objects and Classes/10.05 An Array of Objects/stock00/stock00
ch-10 Objects and Classes/10.07 Abstract Data Types/queue/queue
ch-10 Objects and Classes/10.07 Abstract Data Types/stack/main
ch-10 Objects and Classes/10.07 Abstract Data Types/stack/stack
ch-11 Working with Classes/11.01 Operator Overloading/simple
ch-11 Working with Classes/11.02 Time on Our Hands--Developing an Operator Overloading Example/mytime0/mytime0
ch-11 Working with Classes/11.02 Time on Our Hands--Developing an Operator Overloading Example/mytime1/time
ch-11 Working with Classes/11.04 More Overloading--A Vector Class/vector
ch-11 Working with Classes/11.05 Automatic Conversions and Type Casts for Classes/simple
ch-11 Working with Classes/11.05 Automatic Conversions and Type Casts for Classes/core
ch-11 Working with Classes/11.05 Automatic Conversions and Type Casts for Classes/stone-weight/stonewt
ch-10 Objects and Classes/10.04 Knowing Your Objects--The this Pointer/stock00/stock00
ch-12 Classes and Dynamic Memory Allocation/12.01 Dynamic Memory and Classes/string-bad-assignment/stringbad
ch-12 Classes and Dynamic Memory Allocation/12.01 Dynamic Memory and Classes/string-bad/stringbad
ch-12 Classes and Dynamic Memory Allocation/12.05 Using Pointers to Objects/placement-new/placenew2
ch-12 Classes and Dynamic Memory Allocation/12.05 Using Pointers to Objects/placement-new/placenew1
ch-12 Classes and Dynamic Memory Allocation/12.05 Using Pointers to Objects/string-new/string
ch-12 Classes and Dynamic Memory Allocation/12.05 Using Pointers to Objects/string-pointer/string
ch-12 Classes and Dynamic Memory Allocation/12.02 The New, Improved String Class/string/string
ch-12 Classes and Dynamic Memory Allocation/12.02 The New, Improved String Class/string1/string
ch-12 Classes and Dynamic Memory Allocation/12.02 The New, Improved String Class/string2/string
ch-12 Classes and Dynamic Memory Allocation/12.07 A Queue Simulation/queue_bank/bank
ch-12 Classes and Dynamic Memory Allocation/12.07 A Queue Simulation/queue_prototype/queue
ch-12 Classes and Dynamic Memory Allocation/12.07 A Queue Simulation/queue_prototype/core
ch-13 Class Inheritance/13.06 Abstract Base Classes/acctabc
ch-13 Class Inheritance/13.01 Beginning with a Simple Base Class/tabletennis0/tabletennis
ch-13 Class Inheritance/13.03 Polymorphic Public Inheritance/brass/brass
ch-13 Class Inheritance/13.07 Inheritance and Dynamic Memory Allocation/has-DMA/dma
ch-13 Class Inheritance/13.08 Class Design Review/not-inherited/not_inherited
ch-14 Reusing Code in C++/14.01 Classes with Object Members/valarray_test
ch-14 Reusing Code in C++/14.01 Classes with Object Members/student/studentc
ch-14 Reusing Code in C++/14.02 Multiple Inheritance/MI0/worker0
ch-14 Reusing Code in C++/14.02 Multiple Inheritance/MI1/worker0
ch-14 Reusing Code in C++/14.02 Multiple Inheritance/mi_dominance
ch-14 Reusing Code in C++/14.03 Private Inheritance/student-PI/studentc
ch-14 Reusing Code in C++/14.02 Private Inheritance/student-PI/studentc
ch-14 Reusing Code in C++/14.04 Class Templates/two-dimensional array/arraytp
ch-14 Reusing Code in C++/14.04 Class Templates/stack-template-pointertest/stacktp
ch-14 Reusing Code in C++/14.04 Class Templates/stack-template/stacktp
ch-14 Reusing Code in C++/14.04 Class Templates/array-template/arraytp
ch-14 Reusing Code in C++/14.04 Class Templates/two_typeparams
ch-14 Reusing Code in C++/14.04 Class Templates/tempmemb
ch-14 Reusing Code in C++/14.04 Class Templates/stack-template-sizediy/stacktp
ch-14 Reusing Code in C++/14.03 Multiple Inheritance/MI0/worker0
ch-14 Reusing Code in C++/14.03 Multiple Inheritance/MI1/worker0
ch-14 Reusing Code in C++/14.03 Multiple Inheritance/mi_dominance
ch-14 Reusing Code in C++/14.04 Class Templates/three_friends
ch-14 Reusing Code in C++/14.04 Class Templates/tempparm
ch-14 Reusing Code in C++/14.04 Class Templates/frnd2tmp
ch-14 Reusing Code in C++/14.04 Class Templates/tmp2tmp
ch-14 Reusing Code in C++/14.04 Class Templates/manyfrnd
debug/zlog/zlog
ch-15 Friends, Exceptions, and More/15.01 Friends/TV/tv
ch-15 Friends, Exceptions, and More/15.01 Friends/TV friend member function/tvfm
ch-15 Friends, Exceptions, and More/15.01 Friends/TV Mutual friends/tv
ch-15 Friends, Exceptions, and More/15.01 Friends/Queue Nested class/queuetp
ch-15 Friends, Exceptions, and More/15.03 Exceptions/exception inheritance/sales
ch-15 Friends, Exceptions, and More/15.03 Exceptions/newexcp
ch-15 Friends, Exceptions, and More/15.03 Exceptions/unwinding_stack
ch-15 Friends, Exceptions, and More/15.03 Exceptions/try_catch_exception
ch-15 Friends, Exceptions, and More/15.03 Exceptions/try_catch
ch-15 Friends, Exceptions, and More/15.03 Exceptions/abort_test2
ch-15 Friends, Exceptions, and More/15.03 Exceptions/try_catch_object
ch-15 Friends, Exceptions, and More/15.03 Exceptions/abort_test
ch-15 Friends, Exceptions, and More/15.02 Nested Classes/Queue Nested class/queuetp
ch-15 Friends, Exceptions, and More/15.03 Exceptions/try_catch_unexpected
ch-15 Friends, Exceptions, and More/15.04 Runtime Type Identification/rtti1
ch-15 Friends, Exceptions, and More/15.04 Runtime Type Identification/rtti2
ch-15 Friends, Exceptions, and More/15.03 Exceptions/core
ch-15 Friends, Exceptions, and More/15.05 Type Cast Operators/reinterpret
ch-15 Friends, Exceptions, and More/15.05 Type Cast Operators/constcast
